.contentpage-outer-grid-container {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 89px auto 20%;
    grid-template-areas:
        'menu menu menu'
        'sidebar content content'
        'footer footer footer';
    /*gap: 1em;*/
    height: 100vh;
}

.contentpage-outer-grid-container .side-bar {
    grid-area: sidebar;
    background-color: #1a1a1a;
    height: 100%;
}

.contentpage-outer-grid-container .content {
    grid-area: content;
    /*background-color: #1a1a1a;*/
}

.contentpage-outer-grid-container .footer {
    grid-area: footer;
    background-color: grey;
    min-height: auto;
    height: 100%;
}
