.outer-grid-container {
    display: grid;
    grid-template-areas:
        'menu'
        'logo'
        'name'
        'role'
        'footer';
    gap: 0;
}

.outer-grid-container h1 {
    grid-area: name;
}

.outer-grid-container h2 {
    grid-area: role;
}

.image-container {
    grid-area: logo;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-container img {
    max-width: 30%;
    min-width: 250px;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
}

.logo {
    padding: 2em 1.5em 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em var(--secondary-color));
}
