#root {
    /*max-width: 1600px;*/
    margin: auto;
    /*padding: 2rem;*/
    text-align: center;
    box-sizing: border-box;
}

.outer-grid-container {
    display: grid;
    grid-template-areas:
            'menu'
            'logo'
            'name'
            'role'
            'footer';
    gap: 0;
}

.logo {
    grid-area: logo;
    height: 20em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

h1 {
    grid-area: name;
}

h2 {
    grid-area: role;
}

.logo:hover {
    filter: drop-shadow(0 0 2em var(--secondary-color));
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.menu {
    grid-area: menu;

    display: grid;
    grid-template-areas:
            'sitename space icon-list';

    background-color: var(--secondary-color);

}

.sitename-container {
    grid-area: sitename;
    display: flex;
    justify-self: flex-start;
    align-items: center;
    padding-left: 1em;
}

.sitename {
    text-decoration: none;
}

.icon-list {
    grid-area: icon-list;
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    padding-right: 1em;
}

li {
    font-size: 2em;
    float: left;
}
