@import url('https://fonts.googleapis.com/css2?family=Archivo Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

:root {
    font-family: 'Archivo', sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /*color: var(--background-color);*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*default colours  */
    --background-color: #8c52ff;
    --highlight-color: #5e17eb;
    --secondary-color: #f45987;
}

@font-face {
    font-family: 'Typo';
    src:
        local('Typo'),
        url('./fonts/typo-longest.demo-bold.otf') format('opentype');
    font-weight: normal;
}

a {
    font-family: 'Archivo Black', sans-serif;
    color: white;
}

a:hover {
    color: var(--highlight-color);
}

body {
    margin: 0;
    /*display: flex;*/
    /*place-items: center;*/
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color);
}

h1 {
    font-family: 'Typo', sans-serif;
    font-weight: 400;
    font-style: normal;
    transform: scale(1, 1.5);
    text-transform: uppercase;
    font-size: 8rem;
    margin: 0;
}

h2 {
    font-family: 'Bayon', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 0.2em;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--highlight-color);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: var(--background-color);
    }

    a:hover {
        color: var(--highlight-color);
    }

    button {
        background-color: #f9f9f9;
    }
}
