.homepage-outer-grid-container {
    display: grid;
    grid-template-rows: 89px 70px auto 20%;
    grid-template-areas:
        'menu'
        'submenu'
        'content'
        'footer';
    /*gap: 1em;*/
    height: 100vh;
}

.homepage-outer-grid-container .submenu {
    grid-area: submenu;
    background-color: #1a1a1a;
    height: 100%;
}

.homepage-outer-grid-container .submenu ul {
    overflow: hidden;
    padding: 0;
    margin-left: 1em;
}

.homepage-outer-grid-container .submenu li {
    list-style: none;
    float: left;
}

.homepage-outer-grid-container .submenu a {
    text-decoration: none;
    font-size: 1.5em;
}

.homepage-outer-grid-container .submenu a:hover {
    color: grey;
}

.homepage-outer-grid-container .content-container {
    grid-area: content;
    align-self: center;

    display: grid;
    grid-template-areas:
        'picture'
        'text';

    padding-bottom: 1rem;
}

.homepage-outer-grid-container .photo-container {
    grid-area: picture;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.homepage-outer-grid-container .photo-container img {
    max-width: 50%;
    min-width: 300px;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
    border: 5px solid var(--secondary-color);
    /*border-color: var(--secondary-color);*/
    border-radius: 20px;
    filter: drop-shadow(0 0 1em var(--secondary-color));
}

.homepage-outer-grid-container .content {
    grid-area: text;
}

.homepage-outer-grid-container .content h2 {
    margin: 0;
    padding: 1rem 3rem;
    line-height: 1;
}

.homepage-outer-grid-container .content em {
    color: #1a1a1a;
}

.homepage-outer-grid-container .footer {
    grid-area: footer;
    background-color: grey;
    min-height: auto;
    height: 100%;
}

.homepage-outer-grid-container .footer h2 {
    margin: 0;
    padding: 0;
    line-height: 1;

    align-self: center;
}
